.App {
  /* text-align: center; */
  font-family: "Abel", sans-serif;
  position: relative;
  background-image: linear-gradient(#081122, #172e5e);
}

.App-header {
  min-height: 100vh;
  /* margin-left: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#navbar_column {
  background: #b2bbce;
  height: 50px;
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#navbar {
  background: #030a16;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
#sidebar {
  background: #030a16;
  opacity: 0.8;
  height: 100vh;
  width: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 5px;
  position: fixed;
  top: 0;
}
.Link_home,
.Link,
.Nav {
  text-decoration: none;
  color: white;
}
.Link_home {
  justify-self: flex-start;
  font-weight: bold;
}

/**/
.Link{
	text-decoration: none;
	color: white;
	font-weight: bold;
  }
  .Link:hover{
	color:rgb(238, 141, 141);
	text-shadow: 0.5px 0.5px 1px black, 0.5px -0.5px 1px black, -0.5px 0.5px 1px black, -0.5px -0.5px 1px black;
  }
  .Link_home{
	text-decoration: none;
	color: white;
	font-weight: bolder;
	font-size: 24px;
	transition: 0.6s;
	border-radius: 1cm;
  }
  .Link_home:hover{
	transform: translate3D(0, -1px, 0) scale(1.01); /* move up slightly and zoom in */
	box-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
	border-radius: 1cm;
	padding: 5px;
	transition: all 0.4s ease; /* zoom in */
	cursor: pointer;
	background:red;
	color: rgb(255, 220, 220);
  }
  .Link_search{
    font-size: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	background:white;
	padding: 2px;
	border-radius: 0.05cm;
  transition: 0.1s;
  }
  .Link_search:hover{
	text-decoration: none;
	color: white;
  
  transform: translate3D(0px, 0px, 0px) scale(1.1);
  transition: all 0.3s ease; 
}
  

#parent {
  display: grid;
  grid-template-columns: auto auto auto;
}

.item_left {
  grid-column-start: 1;
  grid-column-end: 3;
}
.image_and_title {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
#details_root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
p {
  font-size: 18px;
}
.details_title {
  color: rgb(236, 236, 236);
}
.details_title_alt {
  color: #9b9b9b;
}
.details_description {
  max-width: 120ch;
  color: #9b9b9b;
}
.details_ul {
  list-style-type: square;
  display: grid;
  grid-template-columns: 60% 60%;
  column-gap: 10%;
  color: #9b9b9b;
}
.details_ul > li {
  margin: 0 0;
  padding: 0 0;
  align-self: flex-start;
}
.details_ul > li > span {
  padding-left: 40px;
  color: white;
}
span>span{
  font-size: 0.7em;
}
.review_form {
  width: 50%;
  margin: 20px;
}
.navbar{
  background-image: linear-gradient(#000000, #0f1d3d, black);;
  opacity: 1;
  position: fixed;
  top: 0;
}
.navbar-brand{
  transition: 0.6s; border-radius: 1cm; padding: 10px;
}
.navbar-brand:hover{
    transform: translate3D(0, -1px, 0) scale(1.01); /* move up slightly and zoom in */
    box-shadow: 1px 1px 1px white, -1px -1px 1px white, -0.1px 0.1px white, 0.1px -0.1px white;
    padding: 25px 15px;
    transition: all 0.4s ease; /* zoom in */
    cursor: pointer;
    background:inherit;
    color: rgb(255, 220, 220);
}
#login_button{opacity:0.7;}
.nav-link{transition: all 0.4s; border-radius: 1cm; padding: 10px;}
.nav-link:hover{transition: all 0.4s ease; }
.review_mal,
.review_local {
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(to bottom left, #060c18, #0a162c, #091327);
}
@media (max-width: 790px) {
  .details_ul {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    color: #9b9b9b;
  }
}
@media (max-width: 550px) {
  .image_and_title {
    flex-direction: column;
    column-gap: 15px;
  }
  .details_ul {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    color: #9b9b9b;
  }
  .details_ul {
    font-size: 1rem;
    color: #9b9b9b;
  }
  .details_ul > li > span {
    padding-left: 1px;
    color: white;
  }
}

/* ADDED  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #c2c2c2;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.product__item {
  margin-bottom: 30px;
}

.product__item__pic {
  height: 325px;
  position: relative;
  border-radius: 5px;
}

.product__item__pic .ep {
  font-size: 13px;
  color: #ffffff;
  background: #e53637;
  display: inline-block;
  padding: 2px 12px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ep2{
  font-size: 13px;
  color: #ffffff;
  background:#192591;
  display: inline-block;
  padding: 2px 12px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.product__item__pic .ep {
  font-size: 13px;
  color: #ffffff;
  background: #e53637;
  display: inline-block;
  padding: 2px 12px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.product__item__pic .comment {
  font-size: 13px;
  color: #ffffff;
  background: #3d3d3d;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.product__item__pic .view {
  font-size: 13px;
  color: #ffffff;
  background: #3d3d3d;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.product__item__text {
  padding-top: 20px;
}

.product__item__text ul {
  margin-bottom: 10px;
}

.product__item__text ul li {
  list-style: none;
  font-size: 10px;
  color: #ffffff;
  font-weight: 700;
  padding: 1px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: inline-block;
}

.product__item__text h5 a {
  color: #ffffff !important;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}
.trending__product {
  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 30px;
}

.section-title h4,
.section-title h5 {
  color: #ffffff;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  font-family: "Oswald", sans-serif;
}

.section-title h4:after,
.section-title h5:after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: #e53637;
	content: "";
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
.btn__all {
	text-align: right;
	margin-bottom: 30px;
}

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
}

.primary-btn span {
	font-size: 18px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}

a{
	/* color: #007bff; */
	text-decoration: none !important;
	background-color: transparent;
}

/* Preloader END  */

/* ADDED END  */
  /* position: absolute;
  left: 0;
  top: -6px;
  height: 32px;
  width: 4px;
  background: #e53637;
  content: "";
} */
/* ADDED END  */


#search_page{
  padding: 50px;
}
.search_item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
}
#search_page{display: flex; flex-direction: row;}

#emailHelp{
  opacity: 0;
}