.App {
  /* text-align: center; */
  line-height: 2.5rem;
  font-family: 'Abel', sans-serif;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#navbar_column{
  background: #b2bbce;
  height: 50px;
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#navbar{
  background: #1b1e24;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.Link_home,.Link{
  text-decoration: none;
  color: white;
}
.Link_home{
  justify-self: flex-start;
  font-weight: bold;
}


#parent{
  display: grid;
  grid-template-columns: auto auto auto;
}
.item_left{
  grid-column-start: 1;
  grid-column-end: 3;
}
.item_right{
  
}
.item{}
#details_root{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.details_title{}
.details_title_alt{
  color: #9b9b9b;
}
.details_description{
  max-width: 100ch;
  color: #9b9b9b;
}
.details_score{}
.details_scored_by{}
.details_ul{
  list-style-type: square;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 25%;
    color: #9b9b9b;
}
.details_ul>li{
  margin: 0 0;
  padding: 0 0;
  align-self: flex-start;
}
.details_ul>li>span{
  padding-left: 50px;
  color: white;
}